.cart{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.cart-img{
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-img img{
    width: 7rem;
    aspect-ratio: 1/1;
}

.cart-product{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    border-radius: 1rem;
    background-color: var(--white);

}

.flex-pedido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .2rem 0;
}

.cart-pedido{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem;
    
}

.cupon{
    background-color: var(--background);
    border-radius: 1rem;
    padding: 1rem;
    grid-column: 2/3;
    height: 5rem;
}

.btn-mas{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--background);
    font-size: 2rem;
    transition: all .2pagina de s ease-in-out;
    padding: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
}
.btn-mas:hover{
    font-size: 2.2rem;
    border: 1px solid gray;
    color: gray;
    
    
}

.acciones{
    margin-top: 1rem;
    grid-column: 3/4;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


@media (max-width:1151px ){

      .cart{
        display: flex;
        flex-direction: column;
    }

   
}

@media (max-width: 850px) {

    .cart-product{
        display: flex;
        flex-direction: column;
    }

    .cart-img{
        margin: 1rem 0;
    }
    .cart-img img{
    width: 10rem;
    }

    
}

@media (max-width:600px ){

      .cart-product{
        padding: 1rem;
    }

    .cart-pedido{
        padding: 1rem;
    }
    
   
}