.grid-detalles-producto{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto;
    gap: 1rem;
}

.img-producto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    grid-column:1/2 ;
    grid-row: 1/3
}

.producto{
    width: 25rem;
}

.precio{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;

}

.precio h2{
    font-weight: 700;
    font-size: 2.5rem;
}
.precio h3{
    font-weight: 700;
    font-size: 2rem;
    color: var(--accent);
}

.cantidad{
    padding: .8rem;
    margin: 1rem;
    width: 4rem;
    text-align: center;
    border-radius: .5rem;
    border: 1px solid rgb(197, 197, 197);
}

.cantidad:focus{
    outline: none;
    border: 2px solid var(--accent);
}

.caracteristicas{
 margin-bottom: 1rem;
}

.caracteristicas-item{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.caracteristicas-item i{
    color: rgb(13, 160, 13);
    font-size: 1.5rem;
}

.buttons{
    display: flex;
    gap: 1rem;
}



.descripcion{
     background-color: var(--black);
     border-radius: 1rem;
     grid-column: 2/3;
     grid-row: 2/3;
     padding: 2rem;
}

.descripcion p{
    color: var(--white);
}

.cta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FB3B1D;
    background-image: radial-gradient(#ff735e 1.6px, #FB3B1D 1.6px);
    background-size: 32px 32px;
    padding: 2rem;
    border-radius: 1rem;
    color: var(--white);

}

.cta-info h4{
    font-size: 3rem;
    font-weight:700 ;
}

.cta-img{
    width: 25rem;
}

@media (max-width:1151px ){

    .producto{
        width: 15rem;
    }

}

@media (max-width: 850px) {


    .grid-detalles-producto{
       display: flex;
       flex-direction: column;
    }
    .cta h4{
        font-size: 3rem;
    }

    .cta-img{
        width: 10rem;
    }

    
}

@media (max-width:600px ){
    .buttons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .cta h4{
        font-size: 2rem;
    }
     .cta-img{
        display: none;
    }

}